


.text-n-1 {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-n-2{
  color: white;
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  
}

.text-n-3 {
  color: white;
  animation-name: example2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.text-n-4{
  color: white;
  animation-name: example3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.d-none {
  display: none;
}

@keyframes example1 {
  from {color: white;}
  to {color: #ffce09}
}

@keyframes example2 {
  from {color: white;}
  to {color: #eebcc7}
}

@keyframes example3 {
  from {color: white;}
  to {color: #611727}
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@media screen and (max-width: 600px) {
  .text-n-2 {
    font-size: 30px;
  }
}
